.light-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #9CA3AF;
    font-family: 'Courier New', Courier, monospace;
}

blockquote {
    background: #fbf0f0;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    /* font-style: italic; */
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    content: no-close-quote;
}

blockquote>p {
    margin: 0;
    /* Reset margin for p elements */
}

/* Display as inline for a single <p> inside <blockquote> */
blockquote>p:first-child {
    display: inline;
}

/* Display as grid for multiple <p> inside <blockquote> */
blockquote>p {
    display: grid;
    text-indent: 42px;
    /* Add text indent for automatic indentation */
}

@font-face {
    font-family: 'FrenchScriptMT';
    src: url('/fonts/french-script-mt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'FrenchScriptMT', sans-serif;
}